/.git*                      export-ignore
/.php-cs-fixer.dist.php     export-ignore
/phpstan.neon.dist          export-ignore
/phpunit.xml.dist           export-ignore
/rector.php                 export-ignore
/docs/                      export-ignore
/tests/                     export-ignore
/website/vendor/            export-ignore
/website/build/             export-ignore
